<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetAvailableTickets</servlet-name>
        <servlet-class>za.ac.tut.Controller.GetAvailableTickets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestTicket</servlet-name>
        <servlet-class>za.ac.tut.Controller.RequestTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAvailableTickets</servlet-name>
        <url-pattern>/GetAvailableTickets.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestTicket</servlet-name>
        <url-pattern>/RequestTicket.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
